html, body,#home {
    height: 100%;
    overflow-x: hidden;
}

body {
    background: url(../img/capa.png),
    url(../img/ruido.png),
    linear-gradient(50deg, #ff4169, #7c26f8);
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

nav.navbar-transparent {
    background: linear-gradient(rgba(0, 0, 0, 0.61),
    rgba(0, 0, 0, 0.60));

    padding: 15px 0px;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #9bf0e1;
}

.navbar-light .navbar-toggler {
    color: rgba(255, 255, 255, .5);
    border:0.2px solid rgba(255, 255, 255, 0.5);
}

.divisor {
    width: 1px;
    background: #fff;
    margin: 12px 15px;
}

.capa {
    text-align: center;
}

.btn-custom {
    color: #fff;
    text-transform: uppercase;

    padding: 10px 20px;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    
    transition: background 0.4s, color 0.4s;
}

.btn-purple {
    background: #7c25f8;
}

.btn-purple:hover {
    background: #6207e3;
    color: #fff;
}

.btn-white {
    border: 2px solid #fff;
}

.btn-white:hover {
    background-color: #fff;
    color: #000000;
}

.carousel-control-next, .carousel-control-prev {
    width: 5%;
    background: #f2f2f211;
}

.caixa {
    padding: 20px 0px;
}

#servicos {
    background: #fff;
}

#servicos h2, h3 {
    color: #7c25f8;
}

#recursos {
    color: #fff;
}

#recursos h3 {
    color: #9bf0e1;
}

.albuns {
    padding: 10px 0;
}

.rotacionar {
    transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    padding-left: 5em;
}

footer {
    background: #000;
    padding: 50px 0px 20px 0px;
    position: relative;
}

footer h4 {
    color: #919496;
    text-transform: uppercase;
    font-size: 0.8em;
}
footer .navbar-nav li a {
    color: #fff;
    font-size: 0.8em;
}

footer .navbar-nav li a:hover {
    color: #9bf0e1;
    text-decoration: none;
}

footer ul {
    list-style: none;
}

footer ul li {
    float: right;
    margin: 0 5px;
}
 
h1 {
    font-weight: 900;
    letter-spacing: -0.05em;
    margin-bottom: 50px;
    color: #fff;
    transition: 40ms;
}

h2 {
    font-size: 3em;
    font-weight: 700;
    letter-spacing: -0.04em;
}

h2 {
    font-size: 2em;
    font-weight: 700;
    letter-spacing: -0.04em;
}

@media (max-width:321px) {
    h1 {
        font-size: 1.8em;
        margin-bottom: 20px;
        margin-top: 15px;  
    }

    div.carousel-item h1 + a.btn-white {
        margin-bottom: 70px;
    }

    .carousel-control-next, .carousel-control-prev {
        width: 10%;
        background: #f2f2f211;
    }

    div.capa .carousel-control-next .fa-3x, div.capa .carousel-control-prev .fa-3x {
        font-size: 1.5em;        
    }

    div a.btn-custom {
        margin-bottom: 15px;
        font-size: 0.8em;
    }

    div.albuns div.row img.img-fluid {
        margin-top: 10px;
    }

    #servicos h2, #recursos h2 {
        font-size: 1.8em;
    }
    
    #servicos h3, #recursos h3 {
        font-size: 1.55em;
    }

    #servicos p, #recursos p {
        font-size: 0.9em;
    }

    div.container div.row div.col-md-2 img {
        margin-bottom: 10px;
    }
    
    div.col-md-2 + div.col-md-2 {
        margin-top: 15px;
    }

    div.container div.row div.col-md-2 h4 {
        margin-bottom: 0px;
    }

    footer div.row div.col-md-4 img {
        width: 43.2px;
    }
}

/* extra small devices */
@media (min-width:321.02px) and (max-width: 575.98px) {

    h1 {
        font-size: 2.2em;
        margin-top: 10px;
        margin-bottom: 25px;
    }

    div.carousel-item + div.carousel-item h1 {
        font-size: 2.1em;
        margin-bottom: 28px;
    }

    div.carousel-item h1 + a.btn-white {
        margin-bottom: 75px;
    }

    .carousel-control-next, .carousel-control-prev {
        width: 10%;
        background: #f2f2f211;
    }

    div.capa .carousel-control-next .fa-3x, div.capa .carousel-control-prev .fa-3x {
        font-size: 2.3em;        
    }

    div a.btn-custom {
        margin-bottom: 15px;
        font-size: 1em;
    }

    div.albuns div.row img.img-fluid {
        margin-top: 10px;
    }

    div.container div.row div.col-md-2 img {
        margin-bottom: 10px;
    }
    
    div.col-md-2 + div.col-md-2 {
        margin-top: 15px;
    }

    div.container div.row div.col-md-2 h4 {
        margin-bottom: 0px;
    }
}

/* small devices */
@media (min-width: 576px) and (max-width: 767.98px) {

    h1 {
        font-size: 3em;
        margin-bottom: 25px;
    }
    
    
    div a.btn-custom {
        margin-bottom: 15px;
        font-size: 1.5em;
    }

    div.albuns div.row img.img-fluid {
        margin-top: 10px;
    }

    div.container div.row div.col-md-2 img {
        margin-bottom: 10px;
    }
    
    div.col-md-2 + div.col-md-2 {
        margin-top: 15px;
    }

    div.container div.row div.col-md-2 h4 {
        margin-bottom: 0px;
    }

}

/*  medium devices */
@media (min-width: 768px) and (max-width: 991.98px) {

    h1 {
        font-size: 4em;
    }

    div a.btn-custom {
        margin-right: 0.8px;
        font-size: 1em;
    }

    div.container div.row div.col-md-2 img {
        width: 110px;
    }

    footer ul li a img {
        width: 40px;
    }
}

/* large devices */
@media (min-width: 992px) and (max-width: 1199.98px) {

    h1 {
        font-size: 5em;
    }

    div.carousel-item + div.carousel-item h1 {
        margin-bottom: 28px;
    }

    div.carousel-item + div.carousel-item a.btn-custom {
        
    }

    div.carousel-item h1 + a.btn-white {
        margin-bottom: 75px;
    }


    div a.btn-custom {
        margin-right: 2px;
        font-size: 1.7em;
    }

    #servicos h2, #recursos h2 {
        font-size: 2.2em;
    }
    
    #servicos h3, #recursos h3 {
        font-size: 1.95em;
    }

    #servicos p, #recursos p {
        font-size: 1.1em;
    }
}

/* extra large devices */
@media (min-width: 1200px){

    h1 {
        font-size: 6em;
    }
}