body {
    background: url(../img/capa.png),
    url(../img/ruido.png),
    linear-gradient(50deg, #ff4169, #7c26f8);
    background-attachment: fixed;
}

nav.navbar-transparent {
    background: linear-gradient(rgba(0, 0, 0, 0.61),
    rgba(0, 0, 0, 0.60));

    padding: 15px 0px;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #9bf0e1;
}

.navbar-light .navbar-toggler {
    color: rgba(255, 255, 255, .5);
    border:0.2px solid rgba(255, 255, 255, 0.5);
}

.divisor {
    width: 1px;
    background: #fff;
    margin: 12px 15px;
}